    /* style.css */
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        margin: 0px;
        background-color: #0c0c0c;
    }

@keyframes scroll {
  from { background-position-x: 0; }
  to { background-position-x: -120px; }
}

.repeating-bg {
  background-image: url("images/tenna.gif");
  background-repeat: repeat-x;
  background-size: 120px auto;
  height: 122px;
  width: 100vw; 
  animation: scroll 1s linear infinite;
}

p {
  color: white;
}


.title-color {
  background-color: white;
  color: black;
  background-position-y: center;
  height: 50px;
  width: 100vw; 
  color: white;
}

.parent-container {
    position: fixed;
     bottom: 0; /* stick to top of screen */
     right: 0;
     width: 100vw;
     height: 40px;
     
    overflow: auto; /* Example: if parent container has scrolling */
}

.absolute-button-creds {
    position: absolute;
    background-position-x: center;
    background-size: cover;
    width: 80px;
    height: 40px;
    background-image: url("images/CredsSmol.gif");
    /* Other styles for the button */
}

.height-test{
    height: 250px;
    right: 100px;
    background-color: aqua;
    width: 10px;
}

.bar1{
    height: 40px;
}
.btn1{
    width: 400px;
}